# Allows ec2-user to mkdir in node_modules directory, workaround for EACCESS error with node-gyp
# node-gyp is not run as root user like npm install is
# see https://forums.aws.amazon.com/thread.jspa?threadID=290964
unsafe-perm=true
